$brg-blues: #3685FB;
$text-white: #FFFFFF;
$text-green: #14B8A7;
$text-dark-black: #05101F;
$text-black: #52575F;
$text-aqua: #14B8A7;
$text-blues: #3685FB;
$text-gray: #A3A8B1;
$text-dark-blues: #0E2241;
$text-dark-gray: #52575F;
$text-yellow: #FEA31B;